@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-table-tbody {
    height: 57vh !important;
    min-height: 57vh !important;
}
.ant-table table {
    font-size: 0.9em;
}

.ant-badge-status-dot {
    width: 1.2em !important;
    height: 1.2em !important;
}

